/**
 * @name AntiFOMO
 * @description Reduce clutter and upselling by disabling elements.
 * @author Salty
 * @version 1.0.0
 * @website https://github.com/altunidev/AntiFOMO-for-Discord
 * @source https://github.com/altunidev/AntiFOMO-for-Discord/blob/main/AntiFOMO.css
*/

/* Hide Nitro, Shop, and Quests */
ul[aria-label="Direct Messages"] > *:where(     /* you can still access these sections by pressing  */
    :has(a[href="/shop"]),                      /* "Alt + Down Arrow" from the Friends tab, or      */
    :has(a[href="/store"]),                     /* "Alt + Arrow Up" from the latest Direct Message  */
    :has(a[href*="/quest"])                     /* in your DM's                                     */

    /*:has(a[href="/quest-home"])*/                 /* in case the catchall stops working bc discord */
),
li:has([aria-label*="Server Boost"]),               /* Hide Server Boost */
div:has(> div[aria-label="Send a gift"]),           /* Hide the entire gift button container */

/* Message hover toolbar cleanup */
span:has(div[aria-label^="Click to react with"]),   /* the three emotes on the hover-bar */
span:has(div[aria-label="Add Reaction"]),           /* the stable emote button */
div.separator_f84418,                               /* leftover separator bar */

/* Hover > ... More menu cleanup */
div[role="group"].wrapper_f563df:has(div[id^="message-actions-quickreact-"]),   /* cluster of emotes at top of menu */
div[role="menuitem"][id="message-actions-add-reaction"],                        /* hover-open sub-menu */
div[role="menu"] div[role="separator"].separator_c1e9c4                         /* leftover separator */

{ display: none !important; }       /* disable everything from above */
